#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &.white_bg {
    .logo {
      img {
        content: url(../img/logo_green.png);
      }
    }
    .hamburger_btn {
      img {
        content: url(../img/hamburger_black.png);
      }
    }
  }
}

#quick_menu {
  position: fixed;
  bottom: -83px;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;

  &.clicked {
    bottom: 0;
  }

  .slide_btn {
    width: 50px;
    height: 20px;
    position: relative;

    .triangle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.clicked {
      .triangle {
        transform: translate(-50%, -50%) rotateX(180deg);
      }
    }
  }
  .menu {
    background-color: white;
    padding: 10px;
    width: 321px;
    border-radius: 8px 8px 0 0;

    &.clicked {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    }

    > ul {
      display: flex;
      align-items: center;

      .reserv_btn,
      .reserv_check_btn {
        display: flex;
        align-items: center;

        button {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          span {
            color: #222;
            font-size: 14px;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 2px;
          height: 63px;
          background-color: #dbdbdb;
          margin-left: 10px;
        }
      }

      .reserv_btn {
      }
      .reserv_check_btn {
        padding-left: 10px;
      }

      .weather_menu {
        ul {
          display: flex;
          gap: 8px;
          padding-left: 10px;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            img {
              width: 33px;
              height: 33px;
            }
            .day {
              font-size: 12px;
              color: #666;
            }
            .text {
              font-size: 14px;
              color: #222;
            }
          }
        }
      }
    }
  }
}

#fullpage {
  .intro {
    background-image: url(../img/intro_bg.png);
    background-size: cover;

    .main_txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h1 {
        font-size: 30px;
        font-weight: 500;
      }
      .line {
        width: 2px;
        height: 10px;
        background-color: white;
      }
    }
  }
  .east_course {
    background-image: url(../img/east_course.png);
    background-size: cover;
  }
  .south_course {
    background-image: url(../img/south_course.png);
    background-size: cover;
  }
  .west_course {
    background-image: url(../img/west_course.png);
    background-size: cover;
  }
  .family_site {
    .links_container {
      position: absolute;
      left: 20px;
      transform: translateY(-50%);
      top: calc(50% - 95px);
      width: calc(100% - 20px);
      overflow-x: scroll;
      padding-bottom: 10px;
      .links {
        display: flex;
        width: 1000px;
        gap: 20px;

        .link {
          width: 320px;
          img {
            width: 320px;
            height: 200px;
          }

          .txt {
            margin-top: 16px;
            h2 {
              color: #222;
              font-size: 20px;
            }
            p {
              color: #222;
              margin-top: 8px;
            }
          }
        }
      }
    }
    footer {
      padding: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #ececec;

      .footer_logo {
        display: inline-block;
        margin-bottom: 12px;
      }

      .txt {
        p {
          color: #666;
          line-height: 1.5;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          span {
            color: #666;
            font-weight: 500;
          }
        }
      }
    }
  }
  .common_txt {
    padding: 0 20px;

    h2 {
      font-size: 38px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 18px;
    }
    p {
      line-height: 22px;
      margin-bottom: 30px;
    }
    .btn_container {
      display: flex;
      justify-content: flex-end;
      padding-right: 18px;

      a {
        display: flex;
        flex-direction: column;
        .txt {
          font-size: 26px;
        }
        img {
          position: relative;
          left: 18px;
        }
      }
    }
  }
  .animation_txt {
    &.active_now {
      animation: fadeIn 1.5s;
    }
  }
}

#pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: #fff;
  display: none;

  &.clicked {
    display: block;
  }

  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  #datepicker {
    display: none;
  }
  .flatpickr-calendar {
    color: #222;
    box-shadow: none;
    margin: 0 auto;

    .flatpickr-months {
      margin-bottom: 10px;
      align-items: center;
      .flatpickr-current-month {
        padding-top: 4px;
        .flatpickr-monthDropdown-months {
          font-size: 20px;
          font-weight: 500;
          color: #222;
        }
        .numInputWrapper {
          width: 70px;
        }
        .cur-year {
          font-size: 20px;
          font-weight: 500;
          color: #222;
        }
      }
    }
    .flatpickr-weekdays {
      margin-bottom: 0;
    }
    .flatpickr-weekday {
      color: #222;
      font-weight: 500;
      font-size: 16px;
    }
    .flatpickr-day {
      font-size: 16px;
      &.selected {
        font-weight: 500;
        background-color: #2fb400;
        border-color: #2fb400;
      }
    }
  }
  .tab_table {
    margin-top: 20px;
    padding: 0 20px;
    .tab {
      background-color: #d7f1ce;
      display: flex;
      justify-content: space-between;
      border-radius: 18px;
      margin-bottom: 20px;
      button {
        color: #666;
        padding: 10px 6px;

        &.active_now {
          background-color: #2fb400;
          border-radius: 18px;
          color: #fff;
        }
      }
    }
    .time_table {
      max-height: 500px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 4px; /* 스크롤바 너비 */
      }
      &::-webkit-scrollbar-thumb {
        background-color: #dbdbdb; /* 스크롤바 색상 */
        border-radius: 4px; /* 스크롤바 모서리 둥글게 */
      }
      &::-webkit-scrollbar-track {
        background: #ededed; /* 스크롤바 트랙 색상 */
      }
      table {
        width: 100%;
        thead {
          position: sticky;
          top: 0;
          background-color: white;
          border-bottom: 1px solid #ddd;
          tr {
            border-bottom: 1px solid #ddd;
            th {
              color: #222;
              font-weight: 500;
              padding-bottom: 15px;
            }
          }
        }
        tbody {
          tr {
            &:first-child {
              td {
                padding-top: 10px;
              }
            }

            td {
              padding: 5px 0;
              text-align: center;
              color: #666;
              select {
                color: #666;
                border: none;
                option {
                  color: #666;
                }
              }
              button {
                font-weight: 500;
                color: #2fb400;

                &:disabled {
                  color: #666;
                  cursor: initial;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
